<!DOCTYPE html>
<meta charset="UTF-8">
<html ng-app="app" ng-controller="Controller" ng-keypress="key($event)">
<head>

<link rel="stylesheet" type="text/css" href="style.css">
<script src="../angular/angular.js"></script>
<script src="script.js"></script>
<script src="init.jsonp"></script>

<title>console</title>

</head>
<body>

<div class="main">
	<div class="cards">
		<img class="card" 
				ng-repeat="card in unmarkedCards()" 
				ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{card.id}}&type=card" 
				ng-click="clickCard(card)"/>
		<!-- <div class="textCard"  -->
				<!-- ng-repeat="card in unmarkedCards()"  -->
				<!-- ng-click="clickCard(card)">{{getText(card)}}</div> -->
	</div>
	<div class="panel">
		<select ng-model="selectedCode">
			<option ng-repeat="set in sets" ng-class="set.type">{{set.name}}</option>
		</select>
		<button ng-click="update()">Update</button><button ng-click="previous()">&lt;</button><button ng-click="next()">&gt;</button><br>
		<button ng-click="load()">Load</button><button ng-click="save()">Save</button>
		<div class="group" ng-repeat="group in groups track by $index" ng-show="group.length" ng-init="groupIndex = $index">
			<div class="marked" ng-repeat="card in group" ng-click="clickMarked($event, groupIndex, $index)">{{card}}</div>
		</div>
	</div>
	
	<input type="file" class="nodisplay" id="upload" onchange="angular.element(this).scope().readFile(event)">
	<a class="nodisplay" id="download"></a>

</div>

</body>
</html>

